/*
  Red: #B00;
  Dark Red: #900;

  Max page width: 900px
  Nav width: 25%, with 5% right margin
  Main width: 65%

  CSS you'll need:
  - max-width
  - @media
*/

body {
    color: rgb(2, 100, 129);
    background-color: steelblue;
    font: 20px/1.2 Helvetica, Arial, sans-serif;
    margin: 0;
    max-width: 900;
    width: 900px;
    margin: auto;
    padding: 25px 25px 50px;
}

a {
    color: rgb(29, 0, 109);
    background-position: bottom;
    margin-block-start: unset;
    overflow: scroll;
}

.page {
    background-color: grey;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: inherit;
    overflow: hidden;
}

.header {
    background: url("../images/header.png") no-repeat center top;
    background-size: cover;
    border-bottom: 10px solid #000;
    color: #fff;
    padding: 200px;
    text-shadow: 1px 1px 5px powderblue;
}

.nav a {
    border-bottom: 1px;
    color: black;
    display: run-in;
    font-weight: normal;
    padding: 10px 20px;
}

.nav a:hover {
    background-color: pink;
}

.nav {
    background-color: unset;
    float: left;
    margin: 0;
    margin-right: 5%;
    padding: 0;
    width: 25%;
    justify-content: start;
}

main {
    float: right;
    margin: 0 0 30px;
    width: 65%;
    color: lightgrey
}

.main img {
    float: left;
    margin-right: 70px;
    margin-bottom: 10px;
    width: 30%;
}

.breadcrumbs li {
    display: inline-table;
    background-color: thistle;
}

.breadcrumbs {
    list-style: armenian;
    margin: 20px 0;
    font-weight: bold;
    padding: 0;
}

.footer li {
    border-right: 1px soli;
    display: inline;
    margin-right: 50px;
    padding-right: 50px;
    margin: unset;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}

@media only screen and (max-width: 200px) {
    body {
        background-color: yellow;
        color: yellow;
    }
}